*{
    margin: 0;
    padding: 0;
}
.sky{
    height: 50vh;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;
}
.trees{
    height: 58vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
}
.track{
    height: 33vh;
    width: 100%;
    background-image: url(track.png);
    background-size: cover;
    position: absolute;
    top: 70vh;
}
.car{
    height: 100px;
    width: 280px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    bottom: 0;
}

.wheel1{
    width: 77px;
    position: relative;
    top: 44px;
    left: 33px;

}
.wheel2{
    width: 77px;
    position: relative;
    top: 44px;
    left: 33px;


}